#btn_client{
    display: none;
}
#btn_admin{
    display: none;
}
#tarjetas{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between ;
    align-items: center ;
}
#tarjetas_client{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between ;
    align-items: center ;
}